docs/n8n/recommendation-workflow.json
{
  "name": "i'm hungry — recommendation engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "imhungry-recommend",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9bcf3351-e7f6-4af1-9471-28e8092255ed",
      "name": "Webhook",
      "webhookId": "b8968fa0-ddcc-4b4a-9cb2-c6eb02f59af5"
    },
    {
      "parameters": {
        "jsCode": "/**\n * i'm hungry — recommendation engine (n8n Code node)\n * ===================================================\n * Paste this into the \"Engine\" Code node (Run Once for All Items, JavaScript).\n *\n * Input: the POST body forwarded by the Webhook node — the normalized intent\n *        ENRICHED by the client with the user's profile + recent history:\n *\n *   {\n *     user_id, session_id, mode, surprise,\n *     hunger_level, time_available_mins, budget, cravings, format_pref,\n *     day_of_week, hour_of_day,\n *     profile: { allergies, dietary_restrictions, preferred_cuisines,\n *                disliked_foods, pantry_staples, budget_range },\n *     recently_eaten: [\"Pad Thai\", ...],   // last ~3 days\n *     session_count: 0\n *   }\n *\n * Output: one item per recommendation; the \"Respond to Webhook\" node returns\n *         them as a JSON array (Respond With → All Incoming Items).\n *\n * Architecture notes:\n *  - Allergies/dietary restrictions are a HARD filter — never overridden.\n *  - Tunables live in LEARNING_CONFIG / RATING_CONFIG so the model can be\n *    retuned without touching the rest of the workflow.\n *  - Ratings resolve through resolveRating(): first-party beats external blend.\n */\n\n// ── Tunables ────────────────────────────────────────────────────────────────\nconst LEARNING_CONFIG = {\n  base_exploration_rate: 0.6, // cold-start: explore widely\n  min_exploration_rate: 0.1, // mature: mostly exploit\n  decay_per_session: 0.05, // exploration decays as confidence rises\n  wildcard_slot_threshold: 0.25, // reserve ≥1 wildcard while above this\n  result_count: 5,\n};\n\nconst RATING_CONFIG = {\n  // First-party always wins when present; otherwise blend external by votes.\n  external_weights: { google: 1.0, yelp: 1.0 },\n  default_when_unrated: { score: 4.0, scale: 5, source: \"external\", votes: 0 },\n};\n\n// ── Candidate catalog ────────────────────────────────────────────────────────\n// dietary_tags: which restrictions a dish SATISFIES (so it survives that filter)\n// allergens: allergen keys the dish CONTAINS (so it's excluded for that allergy)\nconst CATALOG = [\n  // ── Delivery ──\n  d(\"delivery\", \"Pad Thai\", \"thai\", 35, \"$12–18\", \"medium\", [\"peanuts\"], [\"dairy_free\"], 4.5, \"google\", 1280),\n  d(\"delivery\", \"Margherita Pizza\", \"italian\", 30, \"$10–16\", \"medium\", [], [\"vegetarian\"], 4.4, \"google\", 980),\n  d(\"delivery\", \"Chicken Tikka Masala\", \"indian\", 40, \"$13–19\", \"medium\", [\"dairy\"], [\"gluten_free\", \"halal\"], 4.6, \"yelp\", 640),\n  d(\"delivery\", \"California Roll\", \"japanese\", 25, \"$9–15\", \"medium\", [\"shellfish\"], [\"dairy_free\"], 4.3, \"google\", 510),\n  d(\"delivery\", \"Carne Asada Tacos\", \"mexican\", 25, \"$9–14\", \"low\", [], [\"gluten_free\", \"dairy_free\", \"halal\"], 4.5, \"google\", 720),\n  d(\"delivery\", \"Falafel Bowl\", \"mediterranean\", 20, \"$8–13\", \"low\", [\"sesame\"], [\"vegan\", \"vegetarian\", \"dairy_free\", \"halal\", \"kosher\"], 4.4, \"yelp\", 430),\n  d(\"delivery\", \"Cheeseburger & Fries\", \"american\", 25, \"$11–16\", \"medium\", [\"dairy\", \"gluten\"], [], 4.2, \"google\", 1500),\n  d(\"delivery\", \"Kung Pao Chicken\", \"chinese\", 35, \"$11–17\", \"medium\", [\"peanuts\"], [\"dairy_free\"], 4.3, \"yelp\", 390),\n  d(\"delivery\", \"Pho\", \"vietnamese\", 30, \"$10–15\", \"low\", [], [\"dairy_free\", \"halal\"], 4.6, \"google\", 860),\n  d(\"delivery\", \"Greek Salad\", \"mediterranean\", 15, \"$8–12\", \"low\", [\"dairy\"], [\"vegetarian\", \"gluten_free\"], 4.1, \"yelp\", 220),\n\n  // ── Recipe (from common pantry staples) ──\n  r(\"Scrambled Eggs & Toast\", \"american\", 10, \"$2–4\", \"low\", [\"eggs\", \"bread\"], [\"dairy\"], [\"vegetarian\"], [\"Crack 2 eggs into a bowl\", \"Whisk with a pinch of salt\", \"Heat a pan on medium with butter\", \"Cook eggs, stirring gently\", \"Toast bread\", \"Serve together\"], 4.8, \"first_party\", 23),\n  r(\"Garlic Butter Pasta\", \"italian\", 20, \"$3–6\", \"low\", [\"pasta\"], [\"gluten\", \"dairy\"], [\"vegetarian\"], [\"Boil salted water\", \"Cook pasta until al dente\", \"Melt butter with minced garlic\", \"Toss pasta in garlic butter\", \"Season with salt & pepper\", \"Top with cheese if you like\"], 4.5, \"external\", 0),\n  r(\"Veggie Fried Rice\", \"chinese\", 20, \"$3–6\", \"low\", [\"rice\", \"eggs\"], [], [\"vegetarian\", \"dairy_free\"], [\"Heat oil in a wok\", \"Scramble an egg, set aside\", \"Stir-fry chopped veggies\", \"Add cold cooked rice\", \"Splash soy sauce\", \"Fold egg back in and serve\"], 4.4, \"external\", 0),\n  r(\"Grilled Cheese\", \"american\", 12, \"$2–4\", \"low\", [\"bread\", \"cheese\"], [\"gluten\", \"dairy\"], [\"vegetarian\"], [\"Butter two slices of bread\", \"Place cheese between, butter-side out\", \"Grill on medium until golden\", \"Flip and grill the other side\", \"Slice and serve\"], 4.3, \"external\", 0),\n  r(\"Chicken & Rice Bowl\", \"american\", 30, \"$4–7\", \"medium\", [\"rice\", \"chicken\"], [], [\"gluten_free\", \"dairy_free\", \"halal\"], [\"Season chicken with salt & pepper\", \"Pan-sear until cooked through\", \"Cook rice\", \"Slice chicken\", \"Serve over rice\", \"Add a drizzle of sauce\"], 4.5, \"external\", 0),\n  r(\"Tomato Soup\", \"american\", 25, \"$2–5\", \"low\", [\"canned goods\"], [\"dairy\"], [\"vegetarian\", \"gluten_free\"], [\"Sauté onion & garlic\", \"Add canned tomatoes\", \"Simmer 15 minutes\", \"Blend until smooth\", \"Stir in cream\", \"Season and serve\"], 4.2, \"external\", 0),\n];\n\nfunction d(type, dish_name, cuisine, mins, cost, tier, allergens, dietary_tags, score, source, votes) {\n  return { type, dish_name, cuisine, est_time_mins: mins, est_cost_range: cost, cost_tier: tier, deep_link: doordash(dish_name), recipe_steps: null, allergens, dietary_tags, _rating: { score, scale: 5, source, votes } };\n}\nfunction r(dish_name, cuisine, mins, cost, tier, pantry, allergens, dietary_tags, steps, score, source, votes) {\n  return { type: \"recipe\", dish_name, cuisine, est_time_mins: mins, est_cost_range: cost, cost_tier: tier, deep_link: null, recipe_steps: steps, pantry, allergens, dietary_tags, _rating: { score, scale: 5, source, votes } };\n}\nfunction doordash(name) {\n  return \"https://www.doordash.com/search/store/\" + encodeURIComponent(name);\n}\n\n// ── Helpers ───────────────────────────────────────────────────────────────--\n// Map profile chip labels → internal keys.\nconst ALLERGEN_MAP = { \"nut allergy\": \"peanuts\", \"shellfish allergy\": \"shellfish\", \"dairy-free\": \"dairy\" };\nconst DIET_MAP = { vegetarian: \"vegetarian\", vegan: \"vegan\", \"gluten-free\": \"gluten_free\", \"dairy-free\": \"dairy_free\", halal: \"halal\", kosher: \"kosher\" };\n\nfunction norm(s) {\n  return String(s || \"\").trim().toLowerCase();\n}\n\nfunction mealPeriod(hour) {\n  if (hour >= 6 && hour <= 10) return \"breakfast\";\n  if (hour >= 11 && hour <= 14) return \"lunch\";\n  if (hour >= 17 && hour <= 21) return \"dinner\";\n  return \"snack\";\n}\n\nfunction resolveRating(dish) {\n  // Engine catalog carries a seed rating; first-party (set by feedback\n  // aggregation) would override here. Kept in one place per architecture.\n  const rt = dish._rating || RATING_CONFIG.default_when_unrated;\n  return { score: rt.score, scale: rt.scale, source: rt.source, votes: rt.votes };\n}\n\nfunction explorationRate(sessionCount) {\n  const raw = LEARNING_CONFIG.base_exploration_rate - LEARNING_CONFIG.decay_per_session * (sessionCount || 0);\n  return Math.max(LEARNING_CONFIG.min_exploration_rate, raw);\n}\n\n// ── Main ──────────────────────────────────────────────────────────────────--\nconst input = $input.first().json;\nconst p = input.body || input; // webhook wraps the POST body under .body\n\nconst profile = p.profile || {};\nconst allergies = (profile.allergies || []).map(norm).map((a) => ALLERGEN_MAP[a]).filter(Boolean);\nconst diets = (profile.dietary_restrictions || []).map(norm).map((dn) => DIET_MAP[dn]).filter(Boolean);\nconst preferred = (profile.preferred_cuisines || []).map(norm);\nconst disliked = (profile.disliked_foods || []).map(norm);\nconst recentlyEaten = (p.recently_eaten || []).map(norm);\n\nconst hunger = p.hunger_level; // 1-5 | null\nconst timeAvail = p.time_available_mins; // 15|30|60 | null\nconst budget = p.budget || profile.budget_range || null; // low|medium|high\nconst cravings = (p.cravings || []).map(norm);\nconst formatPref = p.format_pref || \"either\"; // order|cook|either\nconst surprise = p.surprise === true;\nconst period = mealPeriod(p.hour_of_day);\n\n// 1) HARD safety filter — allergies + dietary restrictions. Never overridden.\nlet pool = CATALOG.filter((dish) => {\n  for (const a of allergies) if ((dish.allergens || []).includes(a)) return false;\n  for (const dn of diets) if (!(dish.dietary_tags || []).includes(dn)) return false;\n  return true;\n});\n\n// Fallback so we never return empty due to over-filtering on diet tags.\nif (pool.length === 0) {\n  pool = CATALOG.filter((dish) => !allergies.some((a) => (dish.allergens || []).includes(a)));\n}\n\n// 2) Score each surviving dish.\nfunction scoreDish(dish) {\n  let score = 0;\n  const reasons = [];\n\n  // Rating boost (resolved; first-party would win).\n  const rating = resolveRating(dish);\n  score += (rating.score / rating.scale) * 2; // up to +2\n\n  if (!surprise) {\n    // Speed weighting when hungry / low on time.\n    const wantFast = (hunger != null && hunger >= 4) || (timeAvail != null && timeAvail <= 15);\n    if (wantFast) {\n      if (dish.est_time_mins <= 15) score += 2;\n      else if (dish.est_time_mins <= 30) score += 0.5;\n      else score -= 1;\n    } else if (timeAvail != null && dish.est_time_mins > timeAvail) {\n      score -= 1.5; // too slow for the window\n    }\n\n    // Cravings boost (cuisine or dish name match).\n    for (const c of cravings) {\n      if (dish.cuisine.includes(c) || norm(dish.dish_name).includes(c)) {\n        score += 1.5;\n        reasons.push(\"craving:\" + c);\n      }\n    }\n\n    // Format preference bias.\n    if (formatPref === \"cook\" && dish.type === \"recipe\") score += 1.2;\n    if (formatPref === \"order\" && dish.type === \"delivery\") score += 1.2;\n\n    // Budget filter / bias.\n    if (budget === \"low\") {\n      if (dish.cost_tier === \"high\") score -= 5; // effectively excluded\n      if (dish.cost_tier === \"low\") score += 0.8;\n    } else if (budget === \"high\") {\n      if (dish.cost_tier === \"high\") score += 0.5;\n    }\n\n    // Learned preferences.\n    if (preferred.includes(dish.cuisine)) score += 1.0;\n    if (disliked.some((x) => dish.cuisine.includes(x) || norm(dish.dish_name).includes(x))) score -= 2;\n  } else {\n    // Surprise: lean on rating + meal-period fit, ignore most prefs.\n    score += Math.random() * 1.5;\n  }\n\n  // Meal-period nudge.\n  if (period === \"breakfast\" && /egg|toast|breakfast/.test(norm(dish.dish_name))) score += 1;\n\n  // Repeat penalty — eaten in the last few days ranks lower.\n  if (recentlyEaten.includes(norm(dish.dish_name))) score -= 2.5;\n\n  return { dish, score, rating };\n}\n\nlet scored = pool.map(scoreDish).sort((a, b) => b.score - a.score);\n\n// 3) Recall-first explore/exploit — reserve a wildcard slot while cold.\nconst expRate = explorationRate(p.session_count);\nconst count = Math.min(LEARNING_CONFIG.result_count, scored.length);\nlet chosen = scored.slice(0, count);\n\nif (expRate > LEARNING_CONFIG.wildcard_slot_threshold && scored.length > count) {\n  // Swap the lowest chosen for a random non-chosen \"wildcard\" to keep learning.\n  const rest = scored.slice(count);\n  const wildcard = rest[Math.floor(Math.random() * rest.length)];\n  chosen[chosen.length - 1] = wildcard;\n}\n\n// 4) Shape the response (strip internal fields, attach resolved rating + rank).\nconst out = chosen.map((s, i) => ({\n  type: s.dish.type,\n  dish_name: s.dish.dish_name,\n  cuisine: s.dish.cuisine,\n  est_time_mins: s.dish.est_time_mins,\n  est_cost_range: s.dish.est_cost_range,\n  deep_link: s.dish.deep_link,\n  recipe_steps: s.dish.recipe_steps,\n  rating: s.rating,\n  rank: i + 1,\n}));\n\nreturn out.map((json) => ({ json }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "f93d0f09-43f4-46b3-a7e8-0b8ee04add0d",
      "name": "Engine"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        0
      ],
      "id": "462d05d9-d1ab-4284-810a-b20ce35100c0",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engine": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}